.wrapper
{
    width: 100%;
    padding: 0 0 30px 0;
}
    .wrapper__inner
    {
        margin: 0 auto;
        max-width: 1160px;
        min-width: 950px;
        position: relative;
        padding: 0 20px;
    }