*~
*.swo
*.swp
.settings
.project
.pydevproject
.coverage
.log
TODO
cover
TODO
TODO.txt
nohup.out
.cache

# JavaScript
node_modules

# Python
build
cover
dist
.coverage
*.egg-info
example
htmlcov
.ropeproject
*.pyc

# Bower
bower_components

# Docs
_build
_themes
_pyramid_sacrud_example

# Tox
.tox
__pycache__
