*~
*.swo
*.swp
.settings
.project
.pydevproject
.coverage
.log
TODO
cover
TODO
TODO.txt
nohup.out
.cache
selenium-server-standalone-2.44.0.jar
phantomjsdriver.log
*.sublime*
*.sublime-*


# Bower
bower_components

# JavaScript
node_modules

# Python
build
cover
dist
.coverage
*.egg-info
htmlcov
.ropeproject
*.pyc

# Docs
_build
_themes
_pyramid_sacrud_example

# Tox
.tox
__pycache__

# Static
pyramid_sacrud/static/css/lib/
pyramid_sacrud/static/js/lib/
