recursive-include pyramid_sacrud/templates *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.jinja2 *.js *.html *.xml
recursive-include pyramid_sacrud/static/css *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.jinja2 *.js *.html *.xml
recursive-include pyramid_sacrud/static/fonts *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.jinja2 *.js *.html *.xml
recursive-include pyramid_sacrud/static/img *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.jinja2 *.js *.html *.xml
recursive-include pyramid_sacrud/static/js *.js
recursive-include pyramid_sacrud/locale *
include requirements.txt
include README.rst
include message-extraction.ini
include pyramid_sacrud/static/js/main.js
