recursive-include pyramid_sacrud/templates *.jinja2
recursive-include pyramid_sacrud/static/css *
recursive-include pyramid_sacrud/static/fonts *
recursive-include pyramid_sacrud/static/img *
recursive-include pyramid_sacrud/static/js *.js
recursive-include pyramid_sacrud/locale *
include requirements.txt
include requirements-test.txt
include README.rst
include CHANGES.rst
include message-extraction.ini
