.toolbar
  clear: both
  zoom: 1
  border: 1px solid #ccc

.toolbar-button
  display: table
  float: left

.toolbar-button__item
  width: 100px
  display: table-cell
  text-align: center
  cursor: pointer
  border-right: 1px solid #ccc

.toolbar-button__item-name
  display: inline-block
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif
  vertical-align: middle
  padding: 10px 15px

.toolbar-button__item-link
  display: inline-block
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif
  vertical-align: middle
  padding: 10px 15px
  color: #444
  text-decoration: none

.toolbar-button__item-button
  width: 100%
  border: solid 0 #fff
  padding: 0
  margin: 0
  display: inline-block
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif
  vertical-align: middle
  padding: 10px 15px
  color: #444
  text-decoration: none
  background: none

.toolbar-button__item:hover
  background: #4183c4
  color: #fff

/*.toolbar-button__item_type_red
		{
			background: #CF2737;
		}
				.toolbar-button__item_type_red .toolbar-button__item-name,
				.toolbar-button__item_type_red .toolbar-button__item-link
				{
					color: #fff;
				}*/
.toolbar-button__item_type_red:hover
  background: #E73212

.toolbar-button__item:hover .toolbar-button__item-name,
.toolbar-button__item:hover .toolbar-button__item-link,
.toolbar-button__item:hover .toolbar-button__item-button
  color: #fff

.toolbar-button__item_state_disable
  background: #eee
  cursor: default

.toolbar-button__item-name,
.toolbar-button__item-link,
.toolbar-button__item-button
  color: #777

.toolbar-button__item_state_disable:hover,
.toolbar-button__item_state_disable:hover .toolbar-button__item-name,
.toolbar-button__item_state_disable:hover .toolbar-button__item-link,
.toolbar-button__item_state_disable:hover .toolbar-button__item-button
  background: #eee
  color: #777

.toolbar-search
  width: 20%
  float: right
  display: table
  padding: 10px 15px 5px 0

.toolbar-search__inner
  display: table-cell
  vertical-align: middle

.toolbar:after
  display: block
  clear: both
  content: ""

