{% include 'sacrud/forms/actions/edit.jinja2' with context %}
{# {% include 'sacrud/forms/actions/view.jinja2' with context %} #}
{# {% include 'sacrud/forms/actions/delete.jinja2' with context %} #}
