<div class="sacrud-grid">
    <div class="sacrud-grid__title">
        {{ _(table.verbose_name or table.__tablename__) }}
    </div>
    <div class="sacrud-grid__action" id="sa_grid_action">&nbsp;</div>
    <div class="sacrud-grid__toolbar">
        <div class="toolbar clear-fix">
            <div class="toolbar-button">
                {% include "sacrud/actions/create.jinja2" %}
                <div class="toolbar-button__item toolbar-button__item_type_delete">
                    <div class="toolbar-button__item-name">{{ _ps('Delete') }}</div>
                </div>
            </div>
            {% if table.sacrud_search_col %}
                <div class="toolbar-search">
                    <div class="toolbar-search__inner">
                        <form class="search" action="">
                            <div class="search__input no-js">
                                <ins class="search__input-box">
                                    <input id="site_search" name="search" class="search__input-box-text" value="" placeholder="search" autocomplete="off">
                                    <span class="search__input-icon">&nbsp;</span>
                                </ins>
                                <input type="hidden" name="{{ param }}" value="{{ param_value }}"/>
                                <button class="search__input-button" type="submit">find</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sacrud-grid-content">
        <div class="sacrud-grid-content__left">
            <form id="sacrud-form" class="sacrud-grid-content__left-inner" method="post" action="">
                <table class="sacrud-grid-content-grid" id="sa_index">
                    {% if paginator.items.__len__() > 0 %}
                        <thead class="sacrud-grid-content-grid__header">
                            <tr class="sacrud-grid-content-grid__header-row">
                                <th class="sacrud-grid-content-grid__header-item">
                                    <input id="selected_all_item" type="checkbox" />
                                </th>
                                <th class="sacrud-grid-content-grid__header-item"></th>
                                {% for col in visible_columns %}
                                    <th class="sacrud-grid-content-grid__header-item">
                                        <a href="" class="sacrud-grid-content-grid__header-item-link">
                                            {{ _(col.info.verbose_name or col.name or col.sacrud_name or None) }}
                                        </a>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="sacrud-grid-content-grid__body">
                            {% for row in paginator %}
                                <tr id="{{ table.__tablename__ }}_{{ pk_to_list(row) }}"
                                    class="sacrud-grid-content-grid__body-row">
                                    <td class="sacrud-grid-content-grid__body-item">
                                        <input class="sacrud-grid-content-grid__body-item-checkbox"
                                               type="checkbox" name="selected_item" value="{{ pk_to_list(row, True) }}" />
                                    </td>
                                    <td class="sacrud-grid-content-grid__body-item">
                                        {% include 'sacrud/actions/update.jinja2' with context %}
                                    </td>
                                    {% for col in visible_columns %}
                                        <td class="sacrud-grid-content-grid__body-item">
                                            <div class="selectable_disabled" style="padding: 0 0.3em; display:inline-block;">
                                                {% if col.__class__.__name__ in ['Column', 'InstrumentedAttribute'] %}
                                                    {% set col_value=row.__getattribute__(get_attrname_by_colname(row, col.name)) %}
                                                {% endif %}
                                                {% if col.info['sacrud_list_template'] %}
                                                    {% include col.info['sacrud_list_template'] %}
                                                {% elif col.info['sacrud_list_content'] %}
                                                    {{ col.info['sacrud_list_content'](row) }}
                                                {% else %}
                                                    {{ col_value|string|truncate(200) }}
                                                {% endif %}
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tr>
                            <td>There are no open objects</td>
                        </tr>
                    {% endif %}
                </table>
                <input class="selected-action" type="hidden" value="0" name="selected_action" />
            </form>
            {% if rows %}
                <div class="sacrud-grid-content__paginator">
                    {% if paginator.items.__len__() >= 1 and paginator.page_count > 1 %}
                        {% include "sacrud/paginator.jinja2" %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <!--div class="sacrud-grid-content__right">
            <div class="sacrud-grid-content-filter">
                <div class="sacrud-grid-content-filter__group">
                    <a href="#" class="sacrud-grid-content-filter__group-title">Group title</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item sacrud-grid-content-filter__group-item_state_active">Group title item 1</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item">Group title item 2</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item">Group title item 3</a>
                </div>

                <div class="sacrud-grid-content-filter__group">
                    <a href="#" class="sacrud-grid-content-filter__group-title">Group title 2</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item">Group title item 1</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item">Group title item 2</a>
                    <a href="#" class="sacrud-grid-content-filter__group-item">Group title item 3</a>
                </div>
            </div>
        </div-->
    </div>
</div>
