.nav
{
    position: relative;
    margin: 0 0 1em 0;
    border: solid 1px #eee;
    padding: 0.5em 0 0.5em 1em;
}
.nav__button
{
    display: inline-block;
    position: relative;
    z-index: 1001;
}
.nav__link
{
    color: #4183c4;
    font: 0.8em 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__link:hover
{
    color: #4183c4;
    text-decoration: underline;
}
.nav__separator
{
    width: 0;
    height: 0;
    text-decoration: none;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #ccc;
    line-height: 0;
    _border-color: #000000 #000000 #000000 #ccc;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    display: inline-block;
    margin: 0 0 0 3px;
    position: relative;
    top: 1px;
}
.nav__item_state_current
{
    font: 0.8em 'Segoe UIs', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    position: relative;
    text-transform: uppercase;
}
.nav__sitemap
{
    width: 90%;
    position: absolute;
    left: -0.7em;
    top: -0.7em;
    border: solid 2px #3A95CB;
    padding: 0.7em;
    z-index: 1000;
    background: #fff;
    border-radius: 5px;
}
.nav__sitemap:after
{
    display: block;
    clear: both;
    content: "";
    zoom: 1;
}
.nav__sitemap-group
{
}
.nav__sitemap-group-link
{
    display: inline-block;
    border: solid 1px lime;
    font: 1.1em Tahoma;
    color: #525252;
}
.nav__sitemap-subgroup
{
}
.nav__sitemap-subgroup__item
{
}
.nav__sitemap-subgroup__item-link
{
    font: 0.8em Tahoma;
    color: #525252;
}
