.nav
{
  position: relative;
  vertical-align: top;
  padding: 0.4em 0.5em 0.5em 0;
  font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #eee;
  border-radius: 0.2em;
  text-transform: uppercase;
}
  .nav__link
  {
    color: #4183c4;
  }
  .nav__link:hover
  {
    color: #000;
  }
  .nav__link:first-child
  {
    text-transform: uppercase;
  }
  .nav__separator
  {
    position: relative;
    display: inline-block;
  }
    .nav__separator .fa-chevron-right
    {
      font-size: 0.5em;
      padding: 0 0.1em 0 0.5em;
      position: relative;
      top: -0.2em;
      display: inline-block;
      color: #555555;
    }
  .nav__item
  {
    color: #005197;
  }
  .nav__item-state-current
  {
    position: relative;
  }
