<div class="toolbar-button__item">
    <a href="{{ request.route_url('sa_create', table=table.__tablename__) }}"
        class="toolbar-button__item-link">
        Add a new {{ table.__tablename__ }}
    </a>
</div>
