.search
  display: block
  position: relative

.search__input
  position: relative

.search__input-box
  display: block
  text-decoration: none
  border: solid 1px #AFAFAF
  background: #fff
  position: relative
  -webkit-transition: all 200ms linear
  -o-transition: all 200ms linear
  -moz-transition: all 200ms linear
  -ms-transition: all 200ms linear
  -kthtml-transition: all 200ms linear
  transition: all 200ms linear
  padding: 0 0 0.1em 0
  overflow: hidden

.search__input-box-text
  width: 100%
  font: 0.9em Arial
  color: #444
  border: none
  background: transparent
  padding: 0.6em 0.3em 0.5em 1.8em
  position: relative
  z-index: 2
  margin: -0.2em 0 0 0
  position: relative

.search__input-box-text:focus
  outline: none

.search__input-box-text::-ms-clear
  display: none

.search__input-icon
  top: 0.55em
  left: 0.3em
  position: absolute
  z-index: 3
  width: 12px
  height: 11px
  background-repeat: no-repeat
  background: url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMTIvMTNSk3cXAAABAklEQVQokX2OoY6DUBBFT2lpEEhEDQEBAovBYPgEJKrpd1UhKvoDTV1r0ThCSCjhBxCEPPFexW7pst3sVZOZczJ3pZRSfKcoCtq2Rdd1HMchDEN+Z6WUUnVdc7vdPo4Ah8OBzWazFI7HIwBZlmGaJgBd13G9Xtlut+z3+1nQ7vc7AGmazjCAbdvEcYwQgqqq3kLbtgBYlvVRJwgCAF4MgLZer//s/jOapr1n3/cB6Pv+AxyGAYAXA6BFUQTA5XJZdC3LkvP5DMA4jvN+pZRS0zRxOp2QUi4+GIaBlBIhBEmS4Hnel/ACHo8HTdNgGAau67Lb7QDI83yWFsJ/yfMc27Z5Asv2bL8IlFk2AAAAAElFTkSuQmCC'))

.search-box
  padding: 0 30px 0 0
  position: relative
  width: 40%

.search-box__input
  width: 90%
  background: #fff
  border-left: solid 1px #c6c6c6
  border-top: solid 1px #a3a3a3
  border-right: solid 1px #c6c6c6
  border-bottom: solid 1px #e5e5e5
  display: block
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-shadow: inset 0px 1px 1px #cfcfcf
  -webkit-box-shadow: inset 0 1px 1px #cfcfcf
  -moz-box-shadow: inset 0 1px 1px #cfcfcf
  font: 0.85em Arial
  color: #333333
  position: relative
  padding: 0.3em 1% 0.2em 0.3em
  outline-width: 0
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  -webkit-transition: all 200ms linear
  -o-transition: all 200ms linear
  -moz-transition: all 200ms linear
  -ms-transition: all 200ms linear
  -kthtml-transition: all 200ms linear
  transition: all 200ms linear

.search-box__button
  position: absolute
  right: 0
  top: 0

.search-filter
  margin: 30px 0 30px 0

.search-filter__title
  font: bold 1em Arial
  color: #333
  text-transform: uppercase
  margin: 0 0 0.5em 0

.search-filter-list
  padding: 0
  margin: 0
  list-style-type: none
  position: relative
  margin: 0 0 0 -0.5em

.search-filter-list__item
  display: inline-block
  margin: 0 1px 0 0

.search-filter-list__item_state_disabled

.search-filter-list__item-disabled
  font: 0.85em Arial
  color: #ccc
  display: inline-block
  padding: 0.4em 0.3em 0.4em 0.6em

.search-filter-list__item-link
  margin: 0
  padding: 0.5em 0.7em 0.5em 0.7em
  display: inline-block
  text-decoration: none

.search-filter-list__item-link-text
  font: 0.85em Arial
  color: #444
  text-decoration: underline
  display: inline-block

.search-filter-list__item-link-count
  font: 0.7em Arial
  color: #444

.search-filter-list__item-link:hover
  background: #eaeaea

.search-filter-list__item-link_state_active
  background: #eee

.search-result

.search-result-list

.search-result-list__item
  padding: 0 0 1em 0
  position: relative

.search-result-list__item-number
  position: absolute
  left: 0
  top: 0.2em
  font: 0.8em Arial
  color: #777

.search-result-list__item-inner
  padding: 0 0 0 1.5em

.search-result-list__item-group
  font: 0.8em Arial
  color: #000
  display: inline-block
  background: #eee
  padding: 0.2em 0.5em
  position: relative
  margin: 0 0 0.3em 0

.search-result-list__item-date
  font: 0.8em Arial
  color: #777
  display: inline-block

.search-result-list__item-title
  font: 1.1em Arial
  color: #444
  margin: 0.3em 0 0 0

.search-result-list__item-title-link
  color: #002863

.search-result-list__item-title-link:hover
  color: #FF6702

.search-result-list__item-desc
  padding: 0.5em 0 0 0

.autocomplete-suggestions
  border: solid 1px #BBBBBB
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  -moz-box-shadow: 0px 0px 20px 0px #bbb
  -webkit-box-shadow: 0px 0px 20px 0px #bbb
  box-shadow: 0px 0px 20px 0px #bbb
  background: #fff

.autocomplete-suggestion
  padding: 0.4em 0.1em 0.4em 0.5em
  font: 0.9em Arial
  color: #000
  cursor: pointer

.autocomplete-suggestion:hover
  background: #eaeaea

.autocomplete-suggestion strong
  font-weight: normal
  background: #FDEDAF

