<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SACRUD{% block title %}{% endblock %}</title>

    <link href="{{ request.static_url('pyramid_sacrud:static/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %}

    <script src="{{ request.static_url('pyramid_sacrud:static/js/__pyramid_sacrud_libs.js') }}"></script>

    {% block css %}
        <link href="{{ request.static_url('pyramid_sacrud:static/css/__pyramid_sacrud.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}

</head>

<body>
    {% block popup %}
        <div class="popup popup_type_message popup_type_message-delete">
            <div class="popup-background">&nbsp;</div>
            <div class="popup-inner">
                <div class="popup-inner__ie">
                    <div class="popup-inner__content">
                        {% block popup_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block menu %}
        <div class="header">
            <div class="header__inner clear-fix">
                <div class="logo">
                    <div class="logo__text">
                        <a href="{{ request.route_url(PYRAMID_SACRUD_HOME) }}" class="logo__text-link">SACRUD</a>
                    </div>
                </div>
                <div class="header__inner-menu">
                    {% block inner_menu %}{% endblock %}
                </div>
                <div class="header__user">
                    {% block auth %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="wrapper">
        <div class="wrapper__inner">
            {% block breadcrumbs %}
                {% if breadcrumbs %}
                    <div class="nav">
                        {% for crumb in breadcrumbs %}
                            {% if not loop.last %}
                                <a href="{% if crumb.visible %}
                                             {{ request.route_path(crumb.view, table=crumb.param['name']) }}
                                         {% endif %}"
                                   class="nav__link">{{ _ps(_(crumb.name)) }}</a>
                                <ins class="nav__separator">&nbsp;</ins>
                            {% else %}
                                <span class="nav__item_state_current">{{ _ps(_(crumb.name)) }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block flash_message %}
                {% if request.session %}
                    {% if request.session.peek_flash() %}
                        <div id="flash">
                            {% set flash = request.session.pop_flash() %}
                            {% for message in flash %}
                              <div class="message message_type_{{ message[1] }}" id="flash">
                                  <div class="message__text">{{ _ps(message[0])|safe }}</div>
                              </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                <div class="footer">
                    <div class="footer-inner">
                        &copy; 2013-<script>document.write(new Date().getFullYear())</script>, ITCase
                        <a href="https://github.com/ITCase/pyramid_sacrud" class="footer-inner__link">pyramid_sacrud</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

    {% block js %}
        <script src="{{ request.static_url('pyramid_sacrud:static/js/__pyramid_sacrud.js') }}"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
