{% extends "sacrud/redefineme.jinja2" %}

{% block extra_head %}
    <script type="text/javascript" src="{{ request.static_url('deform:static/scripts/deform.js') }}"></script>
{% endblock %}

{% block popup_content %}
    <div class="popup-inner__content-link">
        <a href="#" class="popup-inner__content-link-text">{{ _ps('close') }}</a>
    </div>
    {% if obj %}
        <div class="popup-inner__content-delete">
            <div class="popup-inner__content-title">{{ _ps('Are you sure you want to delete an object?') }}</div>
            <div class="popup-button">
                <div class="popup-button__item" data-status="delete">
                    <a href="{{ request.route_url(PYRAMID_SACRUD_DELETE, table=table.__tablename__, pk=pk_to_list(obj)) }}"
                      class="popup-button__item-link">{{ _ps('Confirm') }}</a>
                </div>
                <div class="popup-button__item" data-status="cancel">
                    <span class="popup-button__item-name">{{ _ps('Cancel') }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="popup-inner__content-elfinder"></div>
{% endblock %}

{% block body %}
    {% include 'sacrud/forms/create.jinja2' %}
{% endblock %}
