{% extends "sacrud/redefineme.jinja2" %}

{% block title %} - {{ request.matched_route.name.split('_')[-1] }} {{ _(table.verbose_name or table.__tablename__) }}{% endblock %}

{% block popup_content %}
  <h4>{{ _ps('Are you sure you want to delete an object?') }}</h4>
{% endblock %}
{% block popup_footer %}
  {% if obj %}
    <a href="{{ request.route_url(PYRAMID_SACRUD_DELETE,
      table=table.__tablename__,
      pk=pk_to_list(obj)) }}"
      class="modal-action modal-close btn green">
      {{ _ps('Confirm') }}
    </a>
  {% endif %}
  <a href="#!" class="cancel-button modal-action modal-close red btn">{{ _ps('Cancel') }}</a>
{% endblock %}

{% block body %}
  {% include 'sacrud/includes/create.jinja2' %}
{% endblock %}
