{% extends "sacrud/redefineme.jinja2" %}

{% block body %}
    <div class="dashboard">
        <div class="dashboard-title">{{ _ps('Dashboard') }}</div>
        <div class="dashboard-inner clear-fix">
            {% for col in range(dashboard_row_len) %}
                <div class="dashboard-column">
                    {% if col <= tables.__len__() %}
                        {% for widget, tables in (tables.items()|list)[col::dashboard_row_len] %}
                            <div class="widget">
                                <div class="widget-title">
                                    {{ _(widget or '') }}
                                </div>
                                <div class="widget-content">
                                    {% for table in tables %}
                                        <div class="widget-row">
                                            {% set tname = table.__tablename__ %}
                                            <div class="widget-row__item">
                                                <a href="{{ request.route_url(PYRAMID_SACRUD_LIST, table=tname) }}" class="widget-row__item-link" id="id_{{ tname }}" >{{ _(table.verbose_name or tname) }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
