{% extends "sacrud/redefineme.jinja2" %}

{% block popup_content %}
    <div class="popup-inner__content-link">
        <a href="" class="popup-inner__content-link-text">{{ _ps('close') }}</a>
    </div>
    <div class="popup-inner__content-title">{{ _ps('Are you sure you want to delete an object?') }}</div>
    <div class="popup-button">
        <div class="popup-button__item" data-status="delete">
            <span class="popup-button__item-name">{{ _ps('Confirm') }}</span>
        </div>
        <div class="popup-button__item" data-status="cancel">
            <span class="popup-button__item-name">{{ _ps('Cancel') }}</span>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if hasattr(table, 'sacrud_list_col') %}
        {% set visible_columns=table.sacrud_list_col %}
    {% else %}
        {% set visible_columns=columns %}
    {% endif %}
    <div class="page">
        {% if table.sacrud_list_template %}
            {% include table.sacrud_list_template with context %}
        {% else %}
            {% include '/sacrud/forms/list.jinja2' with context %}
        {% endif %}
    </div>
{% endblock %}


