{% extends "sacrud/redefineme.jinja2" %}

{% block title %} - list of {{ _(table.verbose_name or table.__tablename__) }}{% endblock %}

{% block popup_content %}
  <h4>{{ _ps('Are you sure you want to delete an object?') }}</h4>
{% endblock %}
{% block popup_footer %}
  <a href="#!" id="delete-confirm" class="modal-action modal-close btn green">
    {{ _ps('Confirm') }}
  </a>
  <a href="#!" class="cancel-button modal-action modal-close red btn">{{ _ps('Cancel') }}</a>
{% endblock %}

{% block body %}
  {% if hasattr(table, 'sacrud_list_col') %}
    {% set visible_columns=table.sacrud_list_col %}
  {% else %}
    {% set visible_columns=columns %}
  {% endif %}
  {% if table.sacrud_list_template %}
    {% include table.sacrud_list_template with context %}
  {% else %}
    {% include '/sacrud/includes/list.jinja2' with context %}
  {% endif %}
{% endblock %}
