.sacrud-grid-content
{
  width: 100%;
  padding: 0;
  zoom: 1;
  box-shadow: 0 0 1px #ccc;
}
.sacrud-grid-content:after
{
  display: block;
  clear: both;
  content: '';
}
  .sacrud-grid-content__left
  {
    width: 100%;
    float: left;
    position: relative;
  }
    .sacrud-grid-content__left-inner
    {
      position: relative;
      overflow: auto;
    }
  .sacrud-grid-content__right
  {
    width: 200px;
    float: right;
    margin-left: -205px;
    position: relative;
  }