{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
    <label class="checkbox" for="sacrud_boolean_{{ col.name }}">
        <span class="checkbox__status">&nbsp;</span>
        <input type="checkbox"
               class="checkbox__checkbox"
               id="sacrud_boolean_{{ col.name }}"
               name="{{ col.name }}"
               value="1"
               {% if obj %} {% if value %}checked{% endif %} {% endif %}
        />
  </label>
{% endblock %}
