{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
  <select type="text"
        class="choices choices_type_string {{ css_styles }}"
        id="choices_{{ col.name }}"
        name="{{ col.name }}"
        />
  {% for k, v in col.type.choices.iteritems() %}
    <option value="{{ v }}"
      {% if obj %}
          {% if value[1]==k %}
              selected
          {% endif %}
      {% endif %}>
      {{ k }}</option>
  {% endfor %}
  </select>

  <script>
      $(document).ready(function () {
          $("#choices_{{ col.name }}").chosen({
              width: "200px",
              no_results_text: "Не найдено",
          });
      });
  </script>
{% endblock %}
