{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
    {% include 'elfinder/elfinderhead.html' %}

    <a href="#" id="browse_link">Browse</a>

    <input type="text"
           class="sacrud_unicode {{ css_styles }}"
           id="sacrud_unicode_{{ col.name }}"
           name="{{ col.name }}"
           value="{{ value }}"
    />

   <script>
        $(function() {
            var page_html = '<div id="elfinder_{{ col.name }}"></div>';
            $('.popup-inner__content-elfinder').append(page_html);

            $('#elfinder_{{ col.name }}').elfinder({
                url : "{{ request.route_url('connector') }}",
                transport : new elFinderSupportVer1(),
                lang : 'ru',
                // dialog : { width : 900, modal : true },
                height: 490,
                commandsOptions : { getfile : {oncomplete : ''}, },
                commands : [
                  'open', 'reload', 'home', 'up', 'back', 'forward', 'getfile',
                  'quicklook', 'rm', 'rename', 'mkdir', 'upload', 'copy', 'cut',
                  'paste', 'extract', 'archive', 'info', 'view', 'help',
                  'resize', 'sort'
                  //'download', 'duplicate', 'mkfile', 'edit', 'search',
                ],
                getFileCallback: function(file) { // editor callback
                    // actually file.url - doesnt work for me, but file does. (elfinder 2.0-rc1)
                    var id = 'sacrud_unicode_{{ col.name }}';
                    document.getElementById(id).value = file.url;
                    $('.popup').hide();
                    $('.popup-inner__content-delete').show();
                    $('.popup-inner__content-elfinder').hide();
                },
            });
        });

        $(document).on('click', '#browse_link', function(event) {
            $('.popup-inner__content-delete').hide();
            $('.popup-inner__content-elfinder').show();
            $('.popup').show();
            event.preventDefault();
        });
    </script>
{% endblock %}
