{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
  <input type="number"
        class="{{ css_styles }}"
        id="sacrud_float_{{ col.name }}"
        name="{{ col.name }}"
        value="{{ value }}"
        />
{% endblock %}
