{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
    {% for rel in relationships %}
        {% if col in rel.remote_side or col in  rel.local_columns %}
            <select class="sacrud_fk {{ css_styles }}"
                    id="sacrud_fk_{{ col.name }}" name="{{ col.name }}">
                <option></option>
                {% for x in session.query(rel.mapper) %}
                    {% set pk=pk_to_list(x)[0] %}
                    <option value='{{ getattr(x, pk) }}'
                        {% if obj %}
                            {% if value==getattr(x, pk) %}
                                selected
                            {% endif %}
                        {% endif %}>
                        {{ x.__repr__() }}
                    </option>
                {% endfor %}
            </select>
            {% break %}
        {% elif loop.last %}
          {{ value }}
        {% endif %}
    {% endfor %}

    <script>
        $(document).ready(function () {
            $("#sacrud_fk_{{ col.name }}").chosen({
                width: "200px",
                no_results_text: "Not found",
            });
        });
    </script>

{% endblock %}
