{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}

  <input type="text"
        class="input input_type_string {{ css_styles }}"
        id="string_{{ col.name }}"
        name="{{ col.name }}"
        value="{{ value }}"
        />
  <script type="text/javascript" src="{{ request.static_url('pyramid_sacrud:static/js/lib/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ request.static_url('pyramid_sacrud:static/js/lib/speakingurl.min.js') }}"></script>
  <script>
    var target = $("#{{ col.type.input_id }}");
    var slug = $("#string_{{ col.name }}");
    target.change(function(){
      if ("{{ col.type.reflection }}"=="True" || !slug.val()) {
        slug.val(getSlug(this.value));
      }
    }).change();
  </script>
{% endblock %}
