{% extends "sacrud/types/SacrudBase.jinja2" %}

{% block sacrud_column %}
  <input type="text"
        class="input input_type_string {{ css_styles }}"
        id="string_{{ col.name }}"
        name="{{ col.name }}"
        value="{{ value }}"
        />
{% endblock %}
