.header
{
	width: 100%;
	position: relative;
	margin: 0 0 10px 0;
	background: #333;
}
	.header__inner
	{
		position: relative;
		padding: 0.3em 20px;
		margin: 0 auto;
		max-width: 1160px;
		min-width: 950px;
		background: #333;
	}
		.header__inner-menu
		{
			float: left;
		}
		.header__lang
		{
			float: left;
			padding: 0 0 0 30px;
		}
		.header__user
		{
			float: right;
		}