.sacrud-deform
{
	width: auto;
}
	.sacrud-deform .deformFormFieldset
	{
		padding: 0;
		margin: 0;
		border: none;
	}
		.sacrud-deform .panel
		{
		}
			.sacrud-deform .panel-heading
			{
				padding: 5px 10px 4px 10px;
				background: #4183c4;
				font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
				color: #fff;
				position: relative;
				min-height: 15px;
				display: block;
				width: 100%;
				box-sizing: border-box;
				border: solid 1px #eaeaea;
				border-bottom: 0;
			}
			.sacrud-deform .panel-body
			{
				padding: 0;
				margin: 0;
				list-style: none;
				border-top: solid 1px #eaeaea;
			}
				.sacrud-deform .form-group
				{
					padding: 8px;
					border: solid 1px #eaeaea;
					background: #fff;
					border-top: none;
					transition: background-color 500ms ease-out 3ms;
					zoom: 1;
				}
				.sacrud-deform .form-group:after
				{
					display: block;
					clear: both;
					content: "";
				}
				.sacrud-deform .form-group:hover
				{
					background: #F4F9FE;
					transition: background-color 500ms ease-out 3ms;
				}
					.sacrud-deform .control-label
					{
						width: 200px;
						display: block;
						font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
						color: #444;
						float: left;
						padding: 0.4em 0 0 0;
					}
					.sacrud-deform .required:after
					{
						display: inline-block;
						content: "*";
						font: 1em Arial, Helvetica, sans-serif;
						color: red;
					}
					.sacrud-deform .help-block
					{
						margin: 0.5em 0 0 200px;
						padding: 0.2em 0.5em 0.2em 0;
						color: #777;
						position: relative;
						font: italic 0.75em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					}


input.form-control
{
	background: #fff;
	border-left: solid 1px #c6c6c6;
	border-top: solid 1px #a3a3a3;
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #e5e5e5;
	box-sizing: border-box;
	font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	position: relative;
	padding: 0.3em 1% 0.3em 0.3em;
	outline-width: 0;
	transition: all 200ms linear;
	display: inline-block;
	min-width: 400px;
}
input.form-control:focus
{
	border: solid 1px #4183c4;
	transition: all 200ms linear;
}
textarea.sacrud_deform
{
	background: #fff;
	border-left: solid 1px #c6c6c6;
	border-top: solid 1px #a3a3a3;
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #e5e5e5;
	box-sizing: border-box;
	font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	position: relative;
	padding: 0.3em 1% 0.3em 0.3em;
	outline-width: 0;
	transition: all 200ms linear;
	display: inline-block;
	min-height: 150px;
	min-width: 400px;
}
textarea.sacrud_deform:focus
{
	border: solid 1px #4183c4;
	transition: all 200ms linear;
}
select.form-control
{
	background: #fff;
	border-left: solid 1px #c6c6c6;
	border-top: solid 1px #a3a3a3;
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #e5e5e5;
	display: block;
	box-sizing: border-box;
	font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	position: relative;
	padding: 0.3em 1% 0.3em 0.3em;
	outline-width: 0;
	transition: all 200ms linear;
	display: inline-block;
	min-width: 400px;
}
select.form-control:focus
{
	border: solid 1px #4183c4;
	transition: all 200ms linear;
}


p.help-block[id*="error"]
{
	color: red !important;
	font-style: normal;
}

input.picker__input {
	max-width: 110px;
	min-width: 10px;
	text-align: center;
	padding-left: 0;
}
.sacrud-deform .row
{
	vertical-align: top;
}
.sacrud-deform .row .input-group {
	display: inline-block;
}
.sacrud-deform .row .col-xs-6 {
	padding: 0 20px 0 0;
}
.sacrud-deform .row .input-group .input-group-addon
{
	font: .9em 'Segoe UI_','Open Sans',Verdana,Arial,Helvetica,sans-serif;
	color: #444;
}
.sacrud-deform .picker
{
	max-width: 466px;
}
.sacrud-deform .picker__select--year,
.sacrud-deform .picker__select--month
{
	height: auto !important;
}