html, body { width: 100%; height: 100%; }
a { outline: 0; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
.clear-fix
{
  zoom: 1;
}

.clear-fix:after
{
  display: block;
  clear: both;
  content: "";
}
.cut-button
{
  border: solid 1px red;
  position: relative;
  z-index: 9999;
}