{% set visible_columns=columns %}

<form method="POST" accept-charset="utf-8" enctype="multipart/form-data"
  {% if not pk or not obj %}
    action="{{ request.route_url(PYRAMID_SACRUD_CREATE, table=table.__tablename__) }}"
  {% else %}
    action="{{ request.route_url(PYRAMID_SACRUD_UPDATE, table=table.__tablename__, pk=pk_to_list(obj)) }}"
  {% endif %}>

  <h4>{{ _(table.verbose_name or table.__tablename__) }}</h4>

  {% block add_buttons %}
    <button class="create-button btn waves-effect waves-light" type="submit" name="form.submitted">
      <i class="material-icons left">add_circle_outline</i>
      {{ _ps('Save') }}
    </button>
    {% if obj %}
      <a class="delete-button waves-effect waves-light btn red modal-trigger" href="#modal1">
        <i class="material-icons left">remove_circle_outline</i>
        {{ _ps('Delete') }}
      </a>
    {% endif %}
    <a class="cancel-button waves-effect waves-light btn grey lighten-3 black-text"
      href="{{ request.route_url(PYRAMID_SACRUD_LIST, table=table.__tablename__) }}">{{ _ps('Cancel') }}
    </a>
  {% endblock %}
  <div class="section">
    <div class="hoverable z-depth-1">
      {{ form|safe }}
    </div>
    <div class="section">
      {{ self.add_buttons() }}
    </div>
  </div>
</form>
