<h4>{{ _(table.verbose_name or table.__tablename__) }}</h4>
{% include "sacrud/actions/create.jinja2" %}
<a class="delete-button waves-effect waves-light btn red">
  <i class="material-icons left">remove_circle_outline</i>
  {{ _ps('Delete') }}
</a>

<div class="container"><br/></div>
<form id="sacrud-form" method="post"
  action="{{ request.route_url(PYRAMID_SACRUD_MASS_ACTION, table=table.__tablename__) }}">
  <table class="bordered highlight hoverable z-depth-1">
    {% if paginator.items.__len__() > 0 %}
      <thead>
        <tr class="blue lighten-5">
          <th>
            <input id="select_all_item" type="checkbox" />
            <label for="select_all_item"></label>
          </th>
          <th></th>
          {% for col in visible_columns %}
            <th>
              {{ _(col.info.verbose_name or col.name or col.sacrud_name or None) }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for row in paginator %}
        <tr id="{{ table.__tablename__ }}_{{ pk_to_list(row) }}">
          <td width="1">
            <input id="{{ pk_to_list(row, True) }}"
            type="checkbox" name="selected_item" value="{{ pk_to_list(row, True) }}" />
            <label for="{{ pk_to_list(row, True) }}"></label>
          </td>
          <td width="1">{% include 'sacrud/actions/update.jinja2' with context %}</td>
          {% for col in visible_columns %}
            <td>
              {% if col.__class__.__name__ in ['Column', 'InstrumentedAttribute'] %}
                {% set col_value=row.__getattribute__(get_attrname_by_colname(row, col.name)) %}
              {% endif %}
              {% if col.info['sacrud_list_template'] %}
                {% include col.info['sacrud_list_template'] %}
              {% elif col.info['sacrud_list_content'] %}
                {% if col.safe %}
                  {{ col.info['sacrud_list_content'](row)|safe }}
                {% else %}
                  {{ col.info['sacrud_list_content'](row) }}
                {% endif %}
              {% else %}
                {{ col_value|string|truncate(200) }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    {% else %}
      <tr>
        <td>There are no objects</td>
      </tr>
    {% endif %}
  </table>
  <input id="mass-action" type="hidden" value="0" name="mass_action" />
</form>
{% if rows and paginator.items.__len__() >= 1 and paginator.page_count > 1 %}
  {% include "sacrud/includes/paginator.jinja2" %}
{% endif %}
