.toolbar
{
	clear: both;
	zoom: 1;
	border: 1px solid #ccc;

}
.toolbar-button
{
	display: table;
	float: left;
}
	.toolbar-button__item
	{
		min-width: 100px;
		display: table-cell;
		text-align: center;
		border-right: 1px solid #ccc;
		cursor: pointer;
		padding: 0;
		margin: 0;
		vertical-align: top;
	}
		.toolbar-button__item-name
		{
			display: block;
			font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
			vertical-align: middle;
			padding: 10px 15px;
			color: #777;
		}
		.toolbar-button__item-link
		{
			display: block;
			font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
			vertical-align: middle;
			padding: 10px 15px;
			color: #777;
			text-decoration: none;
		}
		.toolbar-button__item-button
		{
			width: 100%;
			border: solid 0 #fff;
			padding: 0;
			margin: 0;
			display: block;
			font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
			vertical-align: middle;
			padding: 10px 15px;
			color: #777;
			text-decoration: none;
			background: none;
		}
.toolbar-button__item:hover
{
	background: #4183c4;
	color: #fff;
}
.toolbar-button__item:hover .toolbar-button__item-name,
.toolbar-button__item:hover .toolbar-button__item-link,
.toolbar-button__item:hover .toolbar-button__item-button
{
	color: #fff;
}

.toolbar-button__item_state_disable:hover .toolbar-button__item-name,
.toolbar-button__item_state_disable:hover .toolbar-button__item-link,
.toolbar-button__item_state_disable:hover .toolbar-button__item-button
{
	background: #eee;
	color: #777;
}
.toolbar-search
{
	width: 20%;
	float: right;
	display: table;
	padding: 3px 3px 2px 0;
}
.toolbar-search__inner
{
	display: table-cell;
	vertical-align: middle;
}
.toolbar:after
{
	display: block;
	clear: both;
	content: "";
}

.toolbar-button__item_type_confirm .toolbar-button__item-name,
.toolbar-button__item_type_confirm .toolbar-button__item-link,
.toolbar-button__item_type_confirm .toolbar-button__item-button
{
	background: #96B52D;
	color: #fff;
}
.toolbar-button__item_type_confirm:hover .toolbar-button__item-name,
.toolbar-button__item_type_confirm:hover .toolbar-button__item-link,
.toolbar-button__item_type_confirm:hover .toolbar-button__item-button
{
	background: green;
}
.toolbar-button__item_type_delete .toolbar-button__item-name,
.toolbar-button__item_type_delete .toolbar-button__item-link,
.toolbar-button__item_type_delete .toolbar-button__item-button
{
	background: red;
	color: #fff;
}
.toolbar-button__item_type_delete:hover .toolbar-button__item-name,
.toolbar-button__item_type_delete:hover .toolbar-button__item-link,
.toolbar-button__item_type_delete:hover .toolbar-button__item-button
{
	background: maroon;
}
.toolbar-button__item_type_cancel .toolbar-button__item-name,
.toolbar-button__item_type_cancel .toolbar-button__item-link,
.toolbar-button__item_type_cancel .toolbar-button__item-button
{
	background: #eee;
	color: #000;
}
.toolbar-button__item_type_cancel:hover .toolbar-button__item-name,
.toolbar-button__item_type_cancel:hover .toolbar-button__item-link,
.toolbar-button__item_type_cancel:hover .toolbar-button__item-button
{
	background: #777;
}
.toolbar-button__item_state_disable .toolbar-button__item-name
{
	background: #eee;
	color: #ccc;
	cursor: default;
}
.toolbar-button__item_state_disable:hover .toolbar-button__item-name
{
	background: #e4e4e4;
	color: #ccc;
}