<a class="create-button btn waves-effect waves-light"
  href="{{ request.route_url(PYRAMID_SACRUD_CREATE, table=table.__tablename__) }}">
  <i class="material-icons left">add_circle_outline</i>
  {{ _ps('Create') }}
</a>
