<form class="sacrud-grid-content__button"
    action="{{ request.route_url(PYRAMID_SACRUD_DELETE, table=table.__tablename__,
                                 id=row[sa_crud['pk']]) }}" method="POST">
	<button class="k-button" id="button_delete" value="delete">Delete</button>
</form>
