{% for hcol in col.horizontal_columns %}
	{% set col=hcol %}
	<div class="sacrud-grid-field">
		{% if col.name in fk_list %}
			{% include fk_template %}
		{% else %}
			<div class="sacrud-grid-field__item">
				{% include get_field_template(col.type.__class__.__name__) %}
			</div>
		{% endif %}
		<div class="sacrud-grid-field__name">
			{{ col.info.verbose_name or col.name }}
		</div>
	</div>

{% endfor %}