{% with column = col['column'], name=col['name'] %}
  {% if obj %}
    {% set rel_objs = getattr(obj, name)  %}
  {% endif %}
  <select multiple name="{{ name }}[]">
    {% for row in session.query(column.property.mapper).all() %}
      <option value="{{ row.id }}"
      {% if row in rel_objs %}
        selected
      {% endif %}>{{ row }}</option>
    {% endfor %}
  </select>
{% endwith %}
