.popup
  {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  display: none;
  z-index: 10001;
  left: 0;
  top: 0;
}
.popup-background
  {
  background: #eee;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  display: block;
  z-index: 10002;
  left: 0;
  top: 0;
  -moz-opacity: 0.50;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -khtml-opacity: 0.5;
}
.popup-inner
  {
  width: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  //top: 50%;
  //vertical-align: baseline;
}
.popup-inner__ie
  {
  width: 100%;
  position: relative;
  //top: -50%;
  text-align: center;
}
.popup-inner__content
  {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin: 2em 0;
  z-index: 10003;
  text-align: left;
}
.popup-inner__content-link
  {
  position: absolute;
  right: 1.3em;
  top: 0.1em;
  z-index: 10005;
  text-decoration: none;
}
.popup-inner__content-link-text
  {
  font: 0.8em Arial;
  color: #000;
  cursor: pointer;
  border-bottom: dashed 1px #000;
  text-decoration: none;
}
.popup-inner__content-link:hover .popup-inner__content-link-text
  {
  color: #FF6702;
  border-bottom: dashed 1px #FF6702;
}
.popup-inner__content-title
  {
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.5em 1em
};
.popup-inner__content-content
  {
}
.popup_type_message .popup-inner__content
  {
  border: 1px solid #eaeaea;
  padding: 1.5em 1.2em 1.5em 1.2em;
  width: 600px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 2px 0px #eaeaea;
  -moz-box-shadow: 5px 5px 2px 0px #eaeaea;
  box-shadow: 5px 5px 2px 0px #eaeaea;
}
.popup_type_elfinder .popup-inner__content
  {
  border: 1px solid #eaeaea;
  padding: 1.5em 1.2em 1.5em 1.2em;
  width: 800px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 2px 0px #eaeaea;
  -moz-box-shadow: 5px 5px 2px 0px #eaeaea;
  box-shadow: 5px 5px 2px 0px #eaeaea;
}
.popup_type_message-delete .popup-inner__content-title
  {
  background: #E73212;
}
.popup-button
  {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 0 0;
}
.popup-button__item
  {
  width: 100px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 0.5em;
}
.popup-button__item-name
  {
  display: inline-block;
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding: 10px 15px;
  color: #444;
}
.popup-button__item-link
  {
  display: inline-block;
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding: 10px 15px;
  color: #444;
  text-decoration: none;
}
.popup-button__item-button
  {
  width: 100%;
  border: solid 0 #fff;
  padding: 0;
  margin: 0;
  display: inline-block;
  font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  padding: 10px 15px;
  color: #444;
  text-decoration: none;
  background: none;
}
.popup-button__item:hover
  {
  background: #4183c4;
}
.popup-button__item:hover .popup-button__item-name,
.popup-button__item:hover .popup-button__item-link,
.popup-button__item:hover .popup-button__item-button
  {
  color: #fff;
  }