.dashboard
{
	margin: 0 0 20px 0;
}
	.dashboard-title
	{
		font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
		font-weight: 300;
		color: #000000;
		font-size: 1.6em;
		text-transform: uppercase;
		padding: 0 0 0.5em 0;
	}
	.dashboard-inner
	{

	}
		.dashboard-column
		{
			width: 25%;
			float: left;
			padding: 0 20px 0 0;
			box-sizing: border-box;
		}
		.dashboard-column:last-child
		{
			padding: 0;
		}
